
    <div style="margin-left:30px; margin-right:30px; margin-top:30px" class="ui big menu">

        <div   style="font-size:20px" class="header item">
         <a routerLink="/home" class="header"> Όνομα Σελίδας </a>
        </div>

        <a class="item">
          Πληροφορίες
        </a>

            <div class="ui simple dropdown item">
                Κατηγορίες Παιχνιδιών
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Εκπαιδευτικά Παιχνίδια</div>
                    <div class="item">Κατηγορία 2</div>
                    <div class="item">Κατηγορία 3</div>
                    <div class="item">Κατηγορία 4</div>
                    <div class="item">Κατηγορία 5</div>
                </div>
            </div>


            <a routerLink="/makegame" class="item">
                Φτιάξε νέο παιχνίδι
              </a>
  

        <a *ngIf="showlogin" routerLink="/login" class="right item">
          Είσοδος/Εγγραφή
        </a>

        <a (click)="logout()" *ngIf="showlogout"  class="right item">
            Έξοδος
        </a>


      </div>
    
  



