<div style="margin-top:10px; margin-left:10px; margin-right:10px" class="ui big menu">

    <div class="header item">
      Όνομα Σελίδας
    </div>
    
    <a class="right item">
      Πληροφορίες
    </a>
    

    <a class="right item">
       {{'LOGIN'|translate}} / {{'REGISTER'|translate}}
    </a>
    
  
</div>


<div class="ui menu">
    <a class="active red item">Red</a>
    <a class="orange item">Orange</a>
    <a class="yellow item">Yellow</a>
    <a class="olive item">Olive</a>

    <div class="right item">
    <a class="green item">Green</a>
    <a class="teal item">Teal</a>
    </div>

  </div>