<div style="width:90%;  margin:auto; margin-top:50px" class="ui raised segment">
  <h1 style="text-align:center" class="ui header">Όνομα Παιχνιδιού</h1>
</div>

<div style="margin-top:50px" class="ui grid two columns">
<div style="width:535px;  margin-top:70px; margin-left:120px" class="ui small segment column">

    <div class="ui  raised fluid card">
        <div style="height: 200px" class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
        <div class="content row">
              <a class="header">Το παιχνιδι της οδοντοβουρτσας</a>
        </div>

    </div>

    <div class="ui center aligned grid three columns">

        <div class="ui column ">
            <div class="ui button">
            <i class="play icon"></i> <a href="/make">Play</a>
            </div>
        </div>
          
        <div class="ui column ">
            <div class="ui button">
            <i class="heart icon"></i> Like
            </div>
        </div>

        <div class="ui column ">
            <div class="ui button">
            <i class="heart icon"></i> Like
            </div>
        </div>
    
    </div>

</div>

<div style="width:1000px; height:300px; margin-top:70px; margin-left:120px" class="ui small segment column">
    <h2>Περιγραφη Παιχνιδιού</h2>
</div>

</div>


<div style="width:50%;  margin:auto; margin-top:150px" class="ui raised header">
    <h1 style="text-align:center" class="ui header">Οι κάρτες του παιχνιδιού</h1>
</div>
  


<div style="margin-top:40px"  class="ui grid three columns">


    <div class="ui column">
    <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card ">
        <div style="height: 200px" class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
    </div>
    </div>
    
    <div class="ui column">
    <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card">
        <div style="height: 200px" class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
    </div>
    </div>
    

    <div class="ui column">
    <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card">
        <div style="height: 200px" class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
    </div>
    </div>


    <div class="ui column">
    <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card">
        <div style="height:200px" class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
    </div>
    </div>


    <div class="ui column">
    <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card">
        <div style="height: 200px" class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
    </div>
    </div>

    <div class="ui column">
    <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card">
        <div style="height: 200px" class="image">
            <img src="/images/avatar/large/daniel.jpg">
        </div>
    </div>
    </div>

    <div class="ui column">
        <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card">
            <div style="height: 200px" class="image">
                <img src="/images/avatar/large/daniel.jpg">
            </div>
        </div>
        </div>

        <div class="ui column">
            <div style="width:500px; margin-left:50px; margin-right:30px" class="ui raised fluid card">
                <div style="height: 200px" class="image">
                    <img src="/images/avatar/large/daniel.jpg">
                </div>
            </div>
            </div>
    
    

</div>


