<div style="width:90%; margin:auto; margin-top:50px" class="ui raised segment">

  <h1 style="text-align:center" class="ui header">Είσοδος Καθηγητή</h1>

</div>


<div class="ui center aligned grid column">

  <div style="width:700px; margin-top:70px" class="ui segment column">

      <form [formGroup]="form" class="ui center aligned raised form"  (ngSubmit)="login(form.value.email, form.value.password)">

          <div style="width:600px; margin:auto; font-size:18px" class="field">
            <label style="text-align: left">Όνομα Χρήστη</label>
            <input formControlName="email" type="email" id="email" name="email"  placeholder="Email">
          </div>
      
          <div style="width:600px; margin:auto; margin-top:20px; font-size:18px" class="field">
              <label style="text-align: left">Κωδικός Πρόσβασης</label>
              <input formControlName="password" type="password" id="password" name="password"   placeholder="Κωδικός πρόσβασης">
            </div>

          <button style="margin:auto; margin-top:20px; font-size:20px" class="ui button"  type="submit"> Είσοδος </button>
      
        </form>

  </div>

</div>


<div style="margin-top:100px" class="ui center aligned grid column">

<h3 class="ui header">Δεν έχετε λογιαριασμό στην εφαρμογή; <a routerLink="/register" >Πατήστε εδώ</a> </h3>

</div>