

  <div style="width:90%;  margin:auto; margin-top:50px" class="ui raised segment">
      <h1 style="text-align:center" class="ui header">Εκπαιδευτικά Παιχνίδια</h1>
  </div>


<div class="ui grid two columns">

        <div style="width:335px; margin-top:70px; margin-left:120px" class="ui small segment column">

                <form class="ui raised form">
                
                    <h2 style="text-align:center; margin-bottom:30px" class="ui header">Αναζήτηση παιχνιδίων</h2>
                
                  <div style="width:300px" class="field">
                    <h3> <label>Όνομα παιχνιδιού</label> </h3>
                    <input type="text" name="first-name" placeholder="Όνομα παιχνιδιού...">
                  </div>

                  <div style="width:300px" class="field">
                        <h3> <label>Όνομα Δημιουργού</label> </h3>
                        <input type="text" name="first-name" placeholder="Όνομα Δημιουργού...">
                  </div>
                
                  <div class="ui form">
                        <div class="grouped fields">
                          <h3> <label>Ηλικιακή Ομάδα</label> </h3>
                          <div class="field">
                            <div class="ui radio checkbox">
                              <input type="radio" name="example2" checked="checked">
                              <label>2-4 χρονων</label>
                            </div>
                          </div>
                          <div class="field">
                            <div class="ui radio checkbox">
                              <input type="radio" name="example2">
                              <label>4-6 χρονων</label>
                            </div>
                          </div>
                        </div>
                      </div>
                
                
                  <button style="margin-left:70px; margin-top:20px; font-size:18px" class="ui button" type="submit">Αναζήτηση</button>
                
                </form>
                
                </div>



  <div style="width:700px; height:300px; margin:auto " class="ui column">

    
      <div class="ui grid ">

      <div class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content row">
                <a class="header">Το παιχνιδι της οδοντοβουρτσας</a>
             </div>
     
             <div class="content row">
                 <div class="ui simple compact menu">
                         <div class="ui simple dropdown item">
                             Επιλογές Παιχνιδιού
                             <i class="dropdown icon"></i>
                             <div class="menu">
                                 <div class="item">Αναπαραγωγή</div>
                                 <div class="item">Αποθήκευση</div>
                             </div>
                         </div>
                 </div>
             </div>
      </div>

      <div style="margin-top:50px" class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content row">
                <a class="header">Το παιχνιδι της οδοντοβουρτσας</a>
             </div>
     
             <div class="content row">
                 <div class="ui simple compact menu">
                         <div class="ui simple dropdown item">
                             Επιλογές Παιχνιδιού
                             <i class="dropdown icon"></i>
                             <div class="menu">
                                    <div class="item">Αναπαραγωγή</div>
                                    <div class="item">Αποθήκευση</div>
                             </div>
                         </div>
                 </div>
             </div>
      </div>

      <div style="margin-top:50px" class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content row">
                <a class="header">Το παιχνιδι της οδοντοβουρτσας</a>
             </div>
     
             <div class="content row">
                 <div class="ui simple compact menu">
                         <div class="ui simple dropdown item">
                             Επιλογές Παιχνιδιού
                             <i class="dropdown icon"></i>
                             <div class="menu">
                                    <div class="item">Αναπαραγωγή</div>
                                    <div class="item">Αποθήκευση</div>
                             </div>
                         </div>
                 </div>
             </div>
      </div>

      <div style="margin-top:50px" class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content row">
                <a class="header">Το παιχνιδι της οδοντοβουρτσας</a>
             </div>
     
             <div class="content row">
                 <div class="ui simple compact menu">
                         <div class="ui simple dropdown item">
                             Επιλογές Παιχνιδιού
                             <i class="dropdown icon"></i>
                             <div class="menu">
                                    <div class="item">Αναπαραγωγή</div>
                                    <div class="item">Αποθήκευση</div>
                             </div>
                         </div>
                 </div>
             </div>
      </div>

      </div>
      
      
      
  </div>


  


  

  </div>