

<div style="width:230px; margin-top:100px; margin-left:60px" class="ui small segment">

<form class="ui form">

    <div style="width:200px" class="field">
      <label>Όνομα παιχνιδιού</label>
      <input type="text" name="first-name" placeholder="First Name">
    </div>

    <div style="width:200px" class="field">
      <label>Σχολείο</label>
      <input type="text" name="last-name" placeholder="Last Name">
    </div>

    <div style="width:200px" class="field">
        <label>Ηλικιακή ομάδα</label>
        <input type="text" name="last-name" placeholder="Last Name">
      </div>


    <button style="margin:auto; margin-top:15px" class="ui button" type="submit">Submit</button>

  </form>

  </div>