

  <div style="width:90%;  margin:auto; margin-top:50px" class="ui raised segment">

      <h1 style="text-align:center" class="ui header">Εκπαιδευτικά Παιχνίδια</h1>
  
  </div>


<div class="ui grid two columns">

<div style="width:335px; margin-top:70px; margin-left:120px" class="ui small segment column">

<form class="ui raised form">

    <div style="width:300px" class="field">
      <label>Όνομα παιχνιδιού</label>
      <input type="text" name="first-name" placeholder="First Name">
    </div>

    <div style="width:300px" class="field">
      <label>Σχολείο</label>
      <input type="text" name="last-name" placeholder="Last Name">
    </div>

    <div style="width:300px" class="field">
        <label>Ηλικιακή ομάδα</label>
        <input type="text" name="last-name" placeholder="Last Name">
    </div>

    <div style="width:300px" class="field">
        <label>Ηλικιακή ομάδα</label>
        <input type="text" name="last-name" placeholder="Last Name">
      </div>


    <button style="margin:auto; margin-top:15px" class="ui button" type="submit">Submit</button>

  </form>

  </div>



  <div style="width:700px; height:300px; margin:auto " class="ui column">

    
      <div class="ui grid ">

      <div class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content">
              <a class="header">Παιχνίδι 1</a>
          </div>
      </div>

      <div style="margin-top:50px" class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content">
              <a class="header">Παιχνίδι 2</a>
          </div>
      </div>

      <div style="margin-top:50px" class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content">
              <a class="header">Παιχνίδι 3</a>
          </div>
      </div>

      <div style="margin-top:50px" class="ui raised fluid card">
          <div style="height: 200px" class="image">
              <img src="/images/avatar/large/daniel.jpg">
          </div>
          <div class="content">
              <a class="header">Παιχνίδι 4</a>
          </div>
      </div>

      </div>
      
      
      
  </div>


  


  

  </div>