<div style="width:90%; margin:auto; margin-top:50px" class="ui raised segment">

  <h1 style="text-align:center" class="ui header">Εγγραφη Καθηγητή</h1>

</div>


<div class="ui center aligned grid column">

  <div style="width:700px; margin-top:70px" class="ui segment column">

      <form class="ui center aligned raised form">

          <div style="width:600px; margin:auto; font-size:15px" class="field">
            <label style="text-align: left">Όνομα</label>
            <input type="text" name="first-name" placeholder="Όνομα">
          </div>
      
          <div style="width:600px; margin:auto; margin-top:20px; font-size:15px" class="field">
              <label style="text-align: left">Επίθετο</label>
              <input type="text" name="first-name" placeholder="Επίθετο">
            </div>

            <div style="width:600px; margin:auto; margin-top:20px; font-size:15px" class="field">
                <label style="text-align: left">Email</label>
                <input type="text" name="first-name" placeholder="Email">
              </div>
              
              <div style="width:600px; margin:auto; margin-top:20px; font-size:15px" class="field">
                  <label style="text-align: left">Κωδικος Πρόσβασης</label>
                  <input type="text" name="first-name" placeholder="Κωδικός πρόσβασης ">
                </div>

                <div style="width:600px; margin:auto; margin-top:20px; font-size:15px" class="field">
                    <label style="text-align: left">Σχολείο</label>
                    <input type="text" name="first-name" placeholder="Σχολείο">
                  </div>

                  <div style="width:600px; margin:auto; margin-top:20px; font-size:15px" class="field">
                      <label style="text-align: left">ΑΜΚΑ</label>
                      <input type="text" name="first-name" placeholder="ΑΜΚΑ">
                    </div>

      
      
          <button style="margin:auto; margin-top:20px; font-size:15px" class="ui button"  ng-click="/search" type="submit">Εγγραφή Καθηγητή</button>
      
        </form>

  </div>


</div>